html,
*/body
{
	padding: 0;
	margin: 0;
	height: 100%;
}
body
{
	background-color: #5BC5FF;
	-webkit-text-size-adjust: none;
	font-family: Arial, Helvetica, Verdana;
	font-size: 16px;
	line-height: 22px;
	color: #fff;
	position: relative;
}
h1
{
	text-shadow: 0 1px 5px rgba( 0, 0, 0, 0.2 );
	text-transform: lowercase;
	font-family: 'Pacifico', Arial, sans-serif;
	font-weight: normal;
	font-size: 150px;
	line-height: 150px;
	letter-spacing: -10px;
	margin: 0 0 20px 0;
}
a,
a:hover
{
	color: #fff;
	text-decoration: underline;
}
#page
{
	width: 350px;
	position: fixed;
	margin-top: -230px;
	margin-left: 0;
	top: 50%;
	left: 50%;
}