@font-face {
  font-family: 'nevis';
  src: url('../fonts/nevis.ttf');
}

body {
  font-family: 'Work Sans', sans-serif;
  font-style: normal;
  background-image: url('../img/KGP_5267opt.jpg');
  background-repeat: no-repeat;
  color: #ECF0F1;
  margin: 0;
  line-height: 1.5;
}

* {
  box-sizing: border-box;
}


/* Basic Typography */

h1 {
  font-family: 'nevis', sans-serif;
  font-size: 55px;
  color: #e2e2e2;
  font-weight: 500;
}

.typed {
  font-family: 'Space Mono', sans-serif;
  font-size: 25px;
  font-weight: 400;
}

h2 {
  font-family: 'nevis', sans-serif;
  font-size: 25px;
  font-weight: 400;
}

section h2 {
  font-weight: 500;
}

h2 a {
  color: #ECF0F1;
  text-decoration: none;
  border-bottom: 1px solid #E74C3C;
}

h2 a:hover {
  color: #E74C3C;
}

p {
  font-size: 19px;
  font-weight: 300;
}

p a {
  color: #ECF0F1;
}

a {
  transition: ease all 0.2s;
}

.note {
  font-size: 14px;
  font-weight: normal;
  opacity: 0.75;
  font-style: italic;
}


/* Head */

header {
  height: 100vh;
  padding: 100px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

#pt {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 0;
  z-index: 0;
}

.centerer {
  display: flex;
  height: 100%;
}

.hero {
  max-width: 420px;
  margin-top: auto;
  margin-bottom: auto;
}


/* sections */

section {
  padding: 25px;
  padding-left: 100px;
  padding-right: 100px;
  background-color: #212121;
}

.ta-c {
  text-align: center;
}

.folio {
  width: 50%;
  float: left;
}

.title {
  display: block;
}

.title h2 {
  font-weight: 500;
}

.blurb {
  display: block;
}

.link {
  font-size: 19px;
  text-decoration: none;
  border: 1px solid #ECF0F1;
  padding: 10px;
  border-radius: 3px;
  margin-top: 20px;
  display: inline-block;
  color: #ECF0F1;
}

.link:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

.flexin {
  display: flex;
  flex-wrap: wrap;
}


/* custom sections */

.tnm {
  background-color: #2b2b2b;
}

.tnm .link {
  color: #ECF0F1;
  background-color: rgba(0, 0, 0, 0.1);
}

.tnm .link:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.machinevision {
  background-color: #303030;
}

.machinevision .link {
  color: #ECF0F1;
  background-color: rgba(0, 0, 0, 0.1);
}

.machinevision .link:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.embedded {
  background-color: #353535;
}

.embedded .link {
  color: #ECF0F1;
  background-color: rgba(0, 0, 0, 0.1);
}

.embedded .link:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

.ccompiler {
  background-color: #3a3a3a;
}

.ccompiler .link {
  color: #ECF0F1;
  background-color: rgba(0, 0, 0, 0.1);
}

.ccompiler .link:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

.cafe {
  background-color: #3f3f3f;
}

.cafe .link {
  color: #ECF0F1;
  background-color: rgba(0, 0, 0, 0.1);
}

.cafe .link:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

.uvds {
  background-color: #444444;
}

.uvds .link {
  color: #ECF0F1;
  background-color: rgba(0, 0, 0, 0.1);
}

.uvds .link:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

.tetragon {
  background-image: url(../img/tetragon.png);
  background-size: cover;
  background-position: center;
}

.illustration {
  background-color: #222;
}

.wrapper {
  margin-bottom: 400px;
  box-shadow: 0px 5px 0px 0px rgba(0, 0, 0, 0.1);
}


/*Contact*/

footer {
  height: 400px;
  width: 100%;
  position: absolute;
  z-index: -2;
  text-align: center;
  display: flex;
  background-image: url('../img/KGP_5267opt.jpg');
  background-repeat: repeat;
}

footer div {
  margin: auto;
}

footer div a {
  color: #ECF0F1;
  text-decoration: none;
}

#cover-leter p {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}

.g {
  width: 100%;
  overflow: hidden;
  display: flex;
}

.g-33 {
  width: 33.33%;
  float: left;
  padding: 30px;
  background-color: rgba(255, 255, 255, 0.05);
  color: #F9F9F9;
  margin: 15px;
  border-radius: 3px;
}

.full-width {
  width: 100%;
  padding: 25px;
}

.shippable {
  background-color: #303030;
}

hr {
  height: 1px;
  border: none;
  background-color: #3A3E48;
  margin: 0;
}


/* Responsive bbyyyyyyy */

@media all and (max-width: 800px) {
  .folio {
    width: 100%;
  }
  header {
    padding: 25px;
  }
  header nav {
    right: 25px;
  }
  section {
    padding: 50px;
    padding-left: 25px;
    padding-right: 25px;
  }
}

@media all and (max-width: 900px) {
  .g-33 {
    width: 100%;
  }
  .g {
    flex-wrap: wrap;
  }
}

@media all and (max-width: 100%) {
  header {
    height: auto;
  }
  .centerer {
    margin-top: 0%;
    margin-bottom: 50%;
  }
  .hero {
    text-align: center;
    max-width: 100%;
  }
  #pt {
    display: none;
  }
  h2 {
    font-size: 20px;
  }
  header nav {
    position: static;
    text-align: center;
  }
  header nav a {
    margin-left: 20px;
    margin-right: 20px;
  }
  .wrapper {
    margin-bottom: 0;
  }
  footer {
    position: static;
  }
  section {
    text-align: center;
  }
}


/*FOR MENU*/

body * {
  text-shadow: none;
}

nav:not(.mm-menu) {
  display: none;
}

.header.fixed {
  position: fixed;
  z-index: 5;
  top: 0;
  left: 0;
}

.header a {
  background: center center no-repeat transparent;
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABkAAAAZCAYAAADE6YVjAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAADhJREFUeNpi/P//PwOtARMDHQBdLGFBYtMq3BiHT3DRPU4YR4NrNAmPJuHRJDyahEeT8Ii3BCDAAF0WBj5Er5idAAAAAElFTkSuQmCC );
  display: block;
  width: 50px;
  height: 50px;
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 5;
}

.header a:hover {
  opacity: 0.5;
  z-index: 5;
}

.hamburger-inner {
  background-color: #FFF;
}

.typed-cursor {
  opacity: 1;
  -webkit-animation: blink 0.7s infinite;
  -moz-animation: blink 0.7s infinite;
  animation: blink 0.7s infinite;
  font-size: 25px;
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-moz-keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

